/* preset */
/* div are block level elements */
html,body{
    margin:0px;
    padding: 0px;
}
/* ?? */
*{
    box-sizing: border-box;
}

#menu-container{
    height: 20px;
    border: 1px solid;
    display: flex;
    width: 90px;
    justify-content: space-around;

}
#menu-options-container{
    height: 60px;
    border: 1px solid rebeccapurple;
}
.menu{
}

.menu-options{
    display: none;
    justify-content: space-evenly;
    width: 265px;
}

.menu-options.active{
    display: flex;
}

#formula-container{
    height: 30px;
    border: 1px solid;
}
/* Cell container */
#cell-container{
    height: calc(100vh - 130px);
    background-color: lightgreen;
    overflow: auto;
    position: relative;
}
#sheets{
    height: 20px;
    border: 1px solid red;
}
.cell{
    border: 0.2px solid;
    min-height: 25px;
    /* width: 91px; */
    text-align: center;  
    border-radius: 1px;
}
#top-row .cell,#grid .cell{
    min-width: 85px;
    max-width:85px;
}
.row{
    display: flex;
}
#tl-cell{   
    background-color: #50a750;
    width: 25px;
    height: 25px;
    position: absolute;
z-index:3;
}
#top-row{
display: flex;
position: absolute;
left:25px;
top:0px;
z-index:2;
}
#top-row .cell{
    background-color: rgb(109, 189, 109);
}
#left-col .cell{
    width:25px;
}
#left-col{
    position: absolute;
    top:25px;
    z-index:2;
    background-color: rgb(109, 189, 109);
}
#grid{
    position: absolute;
    top:25px;
    left:25px;    
}