/* preset */
/* div are block level elements */
html,body{
    margin:0px;
    padding: 0px;
}
/* ?? */
*{
    box-sizing: border-box;
}

#menu-container{
    height: 20px;
    border: 1px solid;

}
#menu-options-container{
    height: 60px;
    border: 1px solid rebeccapurple;
}
#formula-container{
    height: 30px;
    border: 1px solid;
}
#cell-container{
    height: calc(100vh - 130px);
    background-color: lightgreen;
    overflow: auto;
}
#sheets{
    height: 20px;
    border: 1px solid red;
}
.cell{
    border: 0.2px solid;
    min-height: 25px;
    /* width: 91px; */
    text-align: center;
   
    border-radius: 1px;
}
#top-row .cell,#grid .cell{
    min-width: 85px;
}
.row{
    display: flex;
}
#tl-cell{
    background-color: #50a750;
    width: 25px;
    height: 25px
}
#top-row{
display: flex;
}
#left-col .cell{
    width:25px
}